{
  "**/{src,test,__tests__}/**/*.{js,ts,vue,json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{js,ts,vue,json,md,yml,yaml}": [
    "prettier --write"
  ],
  ".*.{js,ts,vue,json,md,yml,yaml}": [
    "prettier --write"
  ],
  "ref/**/*.{js,ts,vue,json,md,yml,yaml}": [
    "prettier --write"
  ],
}
